html,
body {
  /* height: 100vh; */
  width: 100%;
   
  background-color: #345345;
  margin: 0px;
  padding: 0px;
  display: flex;
  /* justify-content: center; */
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.container {
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 2rem;
  box-sizing: border-box;
  padding: 45px;
}
.from
 {
  font-size: 17px;
  width: 21rem;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #333;
}
.to{
  font-size: 17px;
  width: 21rem;
  padding: 15px;
  border-radius: 8px;
  margin-top: 25px;
  border: 2px solid #333;
}
.total {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.Choose {
  font-size: 2rem;
}

.btn {
  padding: 10px;
  background-color:rgba(128, 128, 128, 0.473);
  font-size: 16px;
  border-radius: 11px;
  margin-left: 31%;
}
.btn:hover{
  background-color: rgba(255, 0, 0, 0.507);
}
 
.result {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  background-color:rgba(255, 255, 255, 0.959);
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #333;
  border-collapse:collapse;
   

}
.hidden{
  display: none;

}